realScenarios/pipeline/DynamicMap.json
{
	"name": "DynamicMap",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata from destination",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_param_folderLevel",
						"type": "DatasetReference",
						"parameters": {
							"container": "destination",
							"folder": "raw_gold_data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata from destination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata from destination').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(contains(item().name,'demand' ),pipeline().parameters.p_demand,pipeline().parameters.P_reserve)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_file_level",
									"type": "DatasetReference",
									"parameters": {
										"container": "destination",
										"folder": "raw_gold_data",
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_file_level",
									"type": "DatasetReference",
									"parameters": {
										"container": "source",
										"folder": "raw_gold_data",
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"P_reserve": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "Country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Country",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2020",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2020",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2021",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2021",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2022",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2022",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2023",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2023",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Average gold reserves",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Average gold reserves",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_demand": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "country_demand_sector (tonnes)",
								"type": "String"
							},
							"sink": {
								"name": "country_demand_sector (tonnes)",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "2020",
								"type": "String"
							},
							"sink": {
								"name": "2020",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "2021",
								"type": "String"
							},
							"sink": {
								"name": "2021",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "2022",
								"type": "String"
							},
							"sink": {
								"name": "2022",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "2023",
								"type": "String"
							},
							"sink": {
								"name": "2023",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "Average",
								"type": "String"
							},
							"sink": {
								"name": "Average",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "dummy_1",
								"type": "String"
							},
							"sink": {
								"name": "dummy_1",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "dummy_2",
								"type": "String"
							},
							"sink": {
								"name": "dummy_2",
								"type": "String"
							}
						}
					]
				}
			}
		},
		"annotations": []
	}
}